.btn {
  cursor: pointer;
  text-decoration: none;
  color: $primary;
  position: relative;
  display: inline-block;
  @include breakpoint('phone') {
    display: block;
    width: 100%;
  }
  & + .btn {
    margin-left: 0.5em;
    @include breakpoint('phone') {
      margin-top: 0.5em;
      margin-left: 0;
    }
  }
  &--link {
    padding-left: 1.5em;
    font-weight: bold;
    &::before {
      content: '\203A';
      font-weight: 100;
      position: absolute;
      font-size: 250%;
      line-height: 19px;
      left: 0;
      transform-origin: center;
      display: inline-block;
      transition: all 0.25s ease;
    }
    &:hover {
      &:before {
        left: 0.2em;
      }
    }
  }
  &--solid {
    background-color: $primary;
    color: $white;
    padding: 1em 2em;
    border-radius: 5px;
    &:hover {
      background-color: $primary-light;
      transition: all 0.25s ease;
    }
  }
}
