.btn {
  cursor: pointer;
  text-decoration: none;
  color: $primary;
  position: relative;
  &:hover {
    color: $text;
  }
  &--link {
    padding-left: 1.5em;
    font-weight: bold;
    &::before {
      content: '\203A';
      font-weight: 100;
      position: absolute;
      font-size: 250%;
      line-height: 19px;
      left: 0;
      transform-origin: center;
      display: inline-block;
      transition: all 0.25s ease;
    }
    &:hover {
      &:before {
        left: 0.2em;
      }
    }
  }
}
