.container {
  @include containerize;
  &--narrow {
    max-width: 500px;
    margin: 0 auto;
  }
  &--half-half {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    & > div {
      width: 50%;
      text-align: left;
      @include breakpoint('tablet') {
        width: 100%;
        text-align: center;
      }
    }
  }
}
