form {
  margin: 2em auto;
  width: 100%;
  input,
  textarea {
    width: 100%;
    background-color: $secondary;
    border: 1px solid $secondary;
    padding: 1em 1.5em;
    margin-bottom: 0.5em;
    resize: none;
    &:hover {
      border-color: $primary;
      transition: border-color 0.25s ease;
    }
  }
}
