form {
  margin: 0;
  width: 100%;
  input,
  textarea {
    font-weight: normal;
    border-radius: 5px;
    width: 100%;
    background-color: $secondary;
    border: 2px solid $secondary;
    padding: 1em 1.5em;
    margin-bottom: 0.5em;
    resize: none;
  }
  .input-error {
    border-color: $primary;
  }
}

.form {
  &-ajax-submitting {
    pointer-events: none;
    opacity: 0.3;
  }
  &-notifications {
    margin-bottom: 1em;
  }
}
