.hifive {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: 100%;
  .container {
    position: relative;
  }
  &__left,
  &__right {
    width: 50%;
    height: 100%;
    max-height: 50vh;
    position: relative;
    display: inline-block;
  }
  &__left span,
  &__right span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    @include breakpoint('phone') {
      background-size: 30vw;
    }
  }
  &__left span {
    background-position: left center;
    background-image: url('../images/hand-left-far.svg');
  }
  &__right span {
    background-image: url('../images/hand-right-far.svg');
    background-position: right center;
  }
  &__popup {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: none;
  }
  &--connected {
    .hifive {
      &__left {
        animation: hifive-shake 0.5s;
        span {
          background-position: center;
        }
      }
      &__popup {
        display: block;
      }
    }
  }
}
