.img {
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
  &--circle {
    border-radius: 50%;
    max-width: 230px;
    @include breakpoint('phone') {
      max-width: 175px;
    }
  }
}
