$font-size: 16;

@mixin breakpoint($class) {
  @if $class == phone {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $class == tablet {
    @media (max-width: 992px) {
      @content;
    }
  } @else if $class == desktop {
    @media (max-width: 1366px) {
      @content;
    } 
  }
}

@mixin containerize {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
  @include breakpoint('desktop') {
    width: 90%;
  }
  @include breakpoint('tablet') {
    margin: 0 20px;
    width: calc(100% - 40px);
  }
}

@function rem($px) {
  @return #{$px/$font-size}rem;
}

@mixin fontSize($size: 16) {
  font-size: #{$size}px;
  font-size: rem($size); 
}