.project {
  text-align: center;
  p {
    font-weight: 100;
  }
  h3 {
    font-weight: 100;
  }
  h2 {
    margin: 0.5em auto 0;
    padding-top: 0.25em;
    &:hover {
      color: $primary;
    }
  }
  h3 {
    margin-top: 0;
  }
  &--project {
    p {
      font-size: 16px;
    }
  }
  &--alchemy {
    background: #353535;
    color: $white;
    h2,
    h3 {
      color: #f7da00;
    }
    p {
      color: $white;
    }
    .btn {
      background-color: #f7da00;
      color: $text;
    }
    .container div:before {
      background-color: #f7da00;
    }
  }
  &--allweather {
    background: #1b3055;
    color: $white;
    h2,
    h3 {
      color: #00a5b4;
    }
    p {
      color: $white;
    }
    .btn {
      background-color: #00a5b4;
    }
    .container div:before {
      background-color: #00a5b4;
    }
  }
  &--velusso {
    background: #dddddd;
    h2,
    h3 {
      color: $text;
    }
    .btn {
      background-color: $text;
      color: $white;
    }
    .container div:before {
      background-color: $text;
    }
  }
  &--nproxx {
    h2,
    h3 {
      color: #5fa767;
    }
    .btn {
      background-color: #5fa767;
    }
  }
  .btn--solid {
    margin-top: 1em;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
  &--hayward {
    background: #00408c;
    h2,
    h3,
    p {
      color: $white;
    }
    .btn {
      background-color: $white;
      color: #00408c;
    }
  }
  &--tss {
    h2,
    h3 {
      color: #504b82;
    }
    .btn {
      background-color: #504b82;
    }
  }
  .btn--solid {
    margin-top: 1em;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}
