.project {
  text-align: center;
  p {
    font-weight: 100;
  }
  h3 {
    font-weight: 100;
  }
  h2 {
    margin-bottom: 0;
  }
  h3 {
    margin-top: 0;
  }
  &--project {
    p {
      font-size: 16px;
    }
  }
  &--alchemy {
    background: #353535;
    color: $white;
    h2,
    h3 {
      color: #f7da00;
      a:hover {
        color: $white;
      }
    }
    p {
      color: $white;
    }
    .btn {
      background-color: #f7da00;
      color: $text;
      &:hover {
        color: $white;
      }
    }
  }
  &--allweather {
    background: #1b3055;
    color: $white;
    h2,
    h3 {
      color: #00a5b4;
      a:hover {
        color: $white;
      }
    }
    p {
      color: $white;
    }
    .btn {
      background-color: #00a5b4;
    }
  }
  &--velusso {
    background: #dddddd;
    h2,
    h3 {
      color: $text;
    }
    .btn {
      background-color: $text;
      color: $white;
    }
  }
  &--nproxx {
    h2,
    h3 {
      color: #5fa767;
      a:hover {
        color: $text;
      }
    }
    .btn {
      background-color: #5fa767;
    }
  }
  .btn--solid {
    margin-top: 1em;
    &:hover {
      background-color: $primary;
      color: $white;
    }
  }
}
