.scroll-banner {
  position: relative;
  z-index: 0;
  &__sun {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    max-width: 400px;
    max-height: 400px;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    background-color: rgb(252, 255, 104);
    z-index: -1;
    filter: blur(3px);
  }
}
