.section {
  position: relative;
  &--banner {
    background: $secondary;
    width: 100%;
    padding: 15vh 0;
    position: relative;
    p {
      font-family: TheSansExtraLight;
      color: $primary;
    }
    &__container {
      @include containerize;
      text-align: center;
    }
    p {
      font-size: 26px;
    }
  }
  &--fullheight {
    min-height: 100vh;
    text-align: center;
    padding: 40px 0;
  }
  &--centered {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &__next {
    position: absolute;
    cursor: pointer;
    bottom: 20px;
    width: 30px;
    height: 30px;
    background: url('../images/icons/down.svg') center no-repeat;
    background-size: contain;
  }
}
