.section {
  position: relative;
  &--banner {
    background: $secondary;
    width: 100%;
    padding: 15vh 0 0;
    position: relative;
    p {
      font-family: TheSansExtraLight;
      color: $primary;
    }
    &__container {
      @include containerize;
      text-align: center;
    }
    p {
      font-size: 26px;
    }
  }
  &--fullheight {
    min-height: 100vh;
    text-align: center;
    padding: 40px 0;
  }
  &--centered {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &--padded {
    padding: 15vh 0;
  }
  &__next {
    position: absolute;
    cursor: pointer;
    bottom: 20px;
    width: 30px;
    height: 30px;
    background: url('../images/icons/down.svg') center no-repeat;
    background-size: contain;
  }
  &--project {
    p {
      font-size: 16px;
    }
  }
  &--alchemy {
    background: #000000;
    color: $white;
    h2 {
      color: #f7da00;
    }
    p {
      color: $white;
    }
    .btn {
      &:hover {
        color: #f7da00;
      }
    }
  }
  &--allweather {
    background: #1b3055;
    color: $white;
    h2 {
      color: #00a5b4;
    }
    p {
      color: $white;
    }
    .btn {
      &:hover {
        color: #00a5b4;
      }
    }
  }
}
