@font-face {
  font-family: 'TheSansExtraLight';
  src: url('../fonts/TheSansExtraLightPlain.ttf') format('ttf'),
    url('../fonts/TheSansExtraLightPlain.otf') format('otf'),
    url('../fonts/TheSansExtraLightPlain.woff') format('woff'),
    url('../fonts/TheSansExtraLightPlain.woff2') format('woff2');
}

body {
  color: $primary;
  font-family: TheSansExtraLight;
}

h1 {
  font-size: 160px;
  font-family: TheSansExtraLight;
  margin: 0;
}

p {
  color: $text;
  font-size: 19px;
}
