@font-face {
  font-family: 'TheSansExtraLight';
  src: url('../fonts/TheSansExtraLightPlain.ttf') format('ttf'),
    url('../fonts/TheSansExtraLightPlain.woff') format('woff');
}

@font-face {
  font-family: 'VarelaRound';
  src: url('../fonts/VarelaRound-Regular-webfont.ttf') format('ttf'),
    url('../fonts/VarelaRound-Regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../fonts/brandon-grotesque-medium.otf') format('otf'),
    url('../fonts/brandon-grotesque-medium.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../fonts/brandon-grotesque-thin.otf') format('otf'),
    url('../fonts/brandon-grotesque-thin.woff') format('woff');
  font-weight: 100;
}
@font-face {
  font-family: 'BrandonGrotesque';
  src: url('../fonts/brandon-grotesque-bold.otf') format('otf'),
    url('../fonts/brandon-grotesque-bold.woff') format('woff');
  font-weight: bold;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: #4ab176;
}

body {
  color: $primary;
  font-family: BrandonGrotesque;
  font-weight: normal;
}

h1 {
  font-size: 160px;
  font-family: BrandonGrotesque;
  margin: 0;
  font-weight: normal;
  @include breakpoint('tablet') {
    font-size: 75px;
  }
}

p {
  color: $text;
  font-family: BrandonGrotesque, arial, sans-serif;
  font-size: 19px;
  line-height: 1.35em;
  font-weight: normal;
}

h2 {
  font-weight: bold;
  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.2s ease;
  }
}
